 #flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 70vw;
  margin-left: 2rem;
}

#canvas {
  flex: 1 1 auto;
  order: -1;
  max-height: 400px;
  max-width: 400px;
}

#ui-panel {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid grey;
}

.panel {
  flex: 1 1 auto;
  padding: 0.5rem;
  flex-flow: column nowrap;
  /*border: 1px dashed green;*/
}
.panel > * {
  flex: 1 1 auto;
}

.slider {
  flex: 1 1 auto;
  width: 70%;
}
